## Working with Relational Database SQLite3

In [115]:
import sqlite3

In [116]:
import json

In [117]:
conn = sqlite3.connect('../../Data/Weathers.sqlite3')

In [118]:
conn

In [119]:
cursor = conn.cursor()

In [120]:
cursor

In [121]:
sql = "CREATE TABLE weathers(station TEXT PRIMARY KEY, maximum DECIMAL, minimum DECIMAL, rainfall TEXT)"

In [122]:
cursor.execute(sql)

In [123]:
conn.commit

In [124]:
sql = """INSERT INTO weathers(station,maximum,minimum,rainfall)
        VALUES
        ('New Baneshwwor', 22.2, 44.4, 4.4)"""

In [125]:
cursor.execute(sql)

In [126]:
conn.commit()

In [127]:
_jsonfile.close()

## LOAD JSON FILE AND INSERT INTO DATABASE

In [142]:
sql = """INSERT INTO weathers(station,maximum,minimum,rainfall)
        VALUES
        (?,?,?,?)"""

In [143]:
with open('../../Data/Weathers.json', 'r') as _jsonfile:
    _json = json.load(_jsonfile)
    for each in _json['weathers']:
        values = (each['Station'], each['Maximum'], each['Minimum'], each['Rainfall'])
        print(values)
        cursor.execute(sql, values)
    conn.commit()

('Dipayal', '24.6', '30.0', '3.2')
('Dadeldhura', '17.1', '21.4', '13.0')
('Dhangadi', '24.9', '31.4', '18.8')
('Birendranagar', '22.8', '30.3', '0.3')
('Nepalgunj', '25.2', '33.7', '1.2')
('Jumla', '15.5', '19.0', '13.7')
('Dang', '23.2', '31.8', '0.4')
('Pokhara', '21.4', '30.4', '19.3')
('Bhairahawa', '25.2', '35.2', '15.9')
('Simara', '25.2', '34.0', '0.0')
('Kathmandu', '20.5', '30.4', '1.3')
('Okhaldhunga', '17.5', '26.4', '0.0')
('Taplejung', '18.3', '27.0', '2.6')
('Dhankuta', '20.9', '29.8', '7.1')
('Biratnagar', '26.3', '34.5', '0.0')
('Jomsom', '12.2', '20.5', '2.2*')
('Dharan', '25.0', '32.5', '1.4*')
('Lumle', '16.8', '25.0', '47.4*')
('Jankapur', '27.0', '34.6', 'Traces*')
('Jiri', '16.9', '25.0', '0.2*')

In [144]:
conn.commit()

In [145]:
cursor.execute("SELECT * FROM weathers")

In [147]:
cursor.fetchone()

('Dipayal', 24.6, 30, '3.2')

In [148]:
cursor.fetchone()

('Dadeldhura', 17.1, 21.4, '13.0')

In [149]:
cursor.fetchall()

[('Dhangadi', 24.9, 31.4, '18.8'),
 ('Birendranagar', 22.8, 30.3, '0.3'),
 ('Nepalgunj', 25.2, 33.7, '1.2'),
 ('Jumla', 15.5, 19, '13.7'),
 ('Dang', 23.2, 31.8, '0.4'),
 ('Pokhara', 21.4, 30.4, '19.3'),
 ('Bhairahawa', 25.2, 35.2, '15.9'),
 ('Simara', 25.2, 34, '0.0'),
 ('Kathmandu', 20.5, 30.4, '1.3'),
 ('Okhaldhunga', 17.5, 26.4, '0.0'),
 ('Taplejung', 18.3, 27, '2.6'),
 ('Dhankuta', 20.9, 29.8, '7.1'),
 ('Biratnagar', 26.3, 34.5, '0.0'),
 ('Jomsom', 12.2, 20.5, '2.2*'),
 ('Dharan', 25, 32.5, '1.4*'),
 ('Lumle', 16.8, 25, '47.4*'),
 ('Jankapur', 27, 34.6, 'Traces*'),
 ('Jiri', 16.9, 25, '0.2*')]

In [166]:
cursor.execute("SELECT * FROM weathers WHERE maximum<=15.5")

In [167]:
cursor.fetchall()

[('Jumla', 15.5, 19, '13.7'), ('Jomsom', 12.2, 20.5, '2.2*')]